*.wpu
**/__pycache__/**
**/dist/*
**/media/*
**/*.log
**/*.log.*
**/nbproject
**/.~lock.*
**/.buildpath
**/.DS_Store
**/.idea
**/.project
**/venv
\.vscode/
**/*.env
*.coverage
.venv/*
coverage.xml
.sonar-scanner/*
unit.xml